# Configurazione Calibrazione, BLTouch e Mesh del Piatto - Flying Bear Ghost 5

# Valori ereditati direttamente dal tuo precedente backup

# [bltouch]
# sensor_pin: ^PA11                        # Pin del finecorsa Z su Robin Nano v1.3
# control_pin: PA8                         # Pin del servomotore per il pin del BLTouch
# x_offset: 42                             # Offset fisico del sensore rispetto all'ugello
# y_offset: 0
# z_offset: 3.140                          # Altezza iniziale di calibrazione ugello/sensore
# speed: 12
# samples: 3
# samples_tolerance_retries: 1

# [safe_z_home]
# home_xy_position: 127.5,105              # Posizione centrale del piatto per l'homing sicuro di Z
# speed: 100
# z_hop: 10
# z_hop_speed: 12

[bed_mesh]
speed: 100
horizontal_move_z: 10
mesh_min: 25, 30                             # Limiti minimi del piatto per livellamento manuale
mesh_max: 230, 180                           # Limiti massimi
probe_count: 3,3                             # Matrice di calibrazione 3x3
mesh_pps: 2
algorithm: bicubic

# [screws_tilt_adjust]
# # Richiede BLTouch per funzionare
# screw1: 25,30
# screw1_name: front left screw
# screw2: 230,30
# screw2_name: front right screw
# screw3: 230,180
# screw3_name: back right screw
# screw4: 25,180
# screw4_name: back left screw
# speed: 100
# horizontal_move_z: 10
# screw_thread: CW-M4                      # Filettatura oraria M4


[bed_screws]
# Posizioni fisiche delle viti del piatto per livellamento manuale
screw1: 25,30
screw1_name: front left screw
screw2: 230,30
screw2_name: front right screw
screw3: 230,180
screw3_name: back right screw
screw4: 25,180
screw4_name: back left screw
speed: 150

[input_shaper]
# Tarature per la compensazione delle risonanze (Input Shaping) ereditate dal backup
shaper_type_x = 3hump_ei
shaper_freq_x = 69.800
shaper_type_y = mzv
shaper_freq_y = 51.600
