# Configurazione Componenti Aggiuntivi, Beeper e Risonanza - Flying Bear Ghost 5

# Valori ereditati direttamente dal tuo precedente backup

[output_pin BEEPER_pin]
pin: PC5                                 # Pin del cicalino acustico su Robin Nano v1.3
pwm: True
value: 0
shutdown_value: 0
cycle_time: 0.001
scale: 1000

# Macro per utilizzare il cicalino
[gcode_macro BEEP]
gcode:
    {% set p = params.P|default(100)|int %}
    SET_PIN PIN=BEEPER_pin VALUE=0.50
    G4 P{p}
    SET_PIN PIN=BEEPER_pin VALUE=0

################################################################################
# INPUT SHAPER (ADXL345)
# Scommenta le sezioni seguenti solo se colleghi l'accelerometro ADXL345 al Pi
################################################################################

#[mcu rpi]
#serial: /tmp/klipper_host_mcu

#[adxl345]
#cs_pin: rpi:None

#[resonance_tester]
#accel_chip: adxl345
#probe_points:
#    127.5, 105, 20                      # Punto centrale del piatto per i test di risonanza
