# Configurazione Principale Klipper - Flying Bear Ghost 5
# MKS Robin Nano v1.3 / Estrusore Orbiter v2.0 / Driver Silenziosi (Standalone) / BLTouch

# Include delle macro e delle configurazioni interfaccia web
# [include moonraker_obico_macros.cfg] # Scommenta se usi Obico/Spaghetti Detective
[include fluidd.cfg]                    # Cambia in [include mainsail.cfg] se usi Mainsail

[virtual_sdcard]
path: /home/giuse/printer_data/gcodes
on_error_gcode: CANCEL_PRINT

[pause_resume]

[display_status]

[respond]

# Configurazione della connessione alla scheda madre
[mcu]
# NOTA: Verifica l'ID corretto della porta seriale via SSH eseguendo il comando:
# ls /dev/serial/by-id/*
serial: /dev/serial/by-id/usb-1a86_USB_Serial-if00-port0
restart_method: command

# Limiti fisici e dinamici della stampante
[printer]
kinematics: cartesian
max_velocity: 250
max_accel: 3000
minimum_cruise_ratio: 0.5
max_z_velocity: 20
max_z_accel: 100

# Collegamento ai moduli di configurazione secondari
[include motors.cfg]
[include printing.cfg]
[include calibration.cfg]
[include others.cfg]

################################################################################
# Macro Generiche di Utility
################################################################################

[gcode_macro G29]
description: Esegue il livellamento automatico del piatto
gcode:
    {% if printer.toolhead.homed_axes != "xyz" %}
        G28
    {% endif %}
    BED_MESH_CALIBRATE
    G0 X0 Y0 F6000

#[gcode_macro PROBE_CALIBRATE]
#description: Calibrazione dell'altezza di Z (Z-offset) del BLTouch
#rename_existing: BASE_PROBE_CALIBRATE
#gcode:
#    {% if printer.toolhead.homed_axes != "xyz" %}
#        G28
#    {% endif %}
#    BASE_PROBE_CALIBRATE

# Inserisci qui le tue macro personalizzate di START_PRINT ed END_PRINT se necessario.
